
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #707070;
  background-color: #1d2630;
  color: wheat;
  line-height:20px;


}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

.input-box {
    position: relative;
    height: 56px;
    max-width: 900px;
    width: 100%;
    background: #fff;
    margin: 0 270px;
    margin-top: 20px;
    border: 1px solid rgba(128, 128, 128, 0.433);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .input-box i,
  .input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .input-box i {
    left: 20px;
    font-size: 30px;
    color: #707070;
  }
  .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
  }
  .input-box .button {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
  }
  .input-box .button:active {
    transform: translateY(-50%) scale(0.98);
  }
  /* Responsive */
  @media screen and (max-width: 500px) {
    .input-box {
      height: 66px;
      margin: 0 8px;
    }
    .input-box i {
      left: 12px;
      font-size: 25px;
    }
    .input-box input {
      padding: 0 112px 0 50px;
    }
    .input-box .button {
      right: 12px;
      font-size: 14px;
      padding: 8px 18px;
    }
  }

  .container{
    height: 76px;
    max-width: 900px;
    width: 100%;
    justify-content: space-between;
    margin: 0 270px;
    margin-top: 20px;
    display: flex;
    display:none;
    gap: 10px;

  }
  #container{
    display: none;
  }
  .poster{
    position: relative;
  }
  .ratings{
    position: absolute;
    background-color: #fff;
    color: black;
    bottom: 0;
    margin-bottom: 35px;
    margin-left: 10px;
    padding: 8px;
    border-radius: 4px;

  }



  .circle-core {
    width: 100%;
    height: 100%;
    background-color: #1d2630;
    border-radius: 50%;
  }

  .circle-border {
    width: 150px;
    height: 150px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(63,249,220);
    background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, rgba(63,249,220,1) 100%);
    animation: spin .8s linear 0s infinite;
  }

  .spinner-box {
    display: flex;
    width: 100%;
    margin-left: 600px;
    margin-top:30px ;
    height: 100px;
    justify-content: center;
    background-color:transparent;
  }

  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to{
      transform: rotate(359deg);
    }
  }
  
  @keyframes spin3D {
    from {
      transform: rotate3d(.5,.5,.5, 360deg);
    }
    to{
      transform: rotate3d(0deg);
    }
  }